<main role="main" class="container">
  <div class="starter-template">
    <h1>Cursos Pixelshop</h1>
    <p class="lead">Seleccione los cursos en los que se quiere matricular</p>
    <div class="row w-100 justify-content-around">
      <div
        class="card"
        style="width: 18rem"
        *ngFor="let curso of shopModel.shopItems"
      >
        <app-stateless
          [product]="curso"
          (cursomatriculado)="cursoMatriculado($event)"
        ></app-stateless>
      </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item disabled">Informacion matricula</li>
    <li *ngFor="let boughtItem of boughtItems" class="list-group-item">
      {{ boughtItem.title }}
      <span>{{ boughtItem.price | currency : "&euro;" }}</span>
    </li>
    <li class="list-group-item disabled">
      <h2>Total: {{ priceItems | currency : "&euro;" }}</h2>
    </li>
  </ul>
  <app-confirm></app-confirm>
  <app-status-cart
    [price]="priceItems"
    [shopModel]="shopModel.shopItems"
    (add)="onConfirm()"
  ></app-status-cart>
</main>
